{
  "version": 6,
  "cmakeMinimumRequired": {
    "major": 3,
    "minor": 23,
    "patch": 0
  },
  "configurePresets": [
    {
      "name": "ubuntu",
      "inherits": ["linux"],
      "cacheVariables": {
        "GCC_PATH": "/usr"
      },
      "vendor": {
        "jetbrains.com/clion": {
          "toolchain": "home"
        }
      },
      "hidden": true
    },
    {
      "name": "macos-m1",
      "inherits": ["darwin"],
      "cacheVariables": {
        "CLANG_PATH": "/opt/homebrew/Cellar/llvm/18.1.8"
      },
      "environment": {
        "MallocNanoZone": "0"
      },
      "hidden": true
    },
    {
      "name": "ubuntu-ninja-gcc-debug",
      "inherits": ["default", "ubuntu", "ninja", "linux-arm64-gcc", "debug"],
      "cacheVariables": {
        "CMAKE_VERBOSE_MAKEFILE": "ON"
      }
    },
    {
      "name": "ubuntu-ninja-gcc-release",
      "inherits": ["default", "ubuntu", "ninja", "linux-arm64-gcc", "release"]
    },
    {
      "name": "macos-m1-ninja-clang-debug",
      "inherits": ["default", "macos-m1", "ninja", "clang-darwin-arm64", "debug"],
      "cacheVariables": {
        "CMAKE_VERBOSE_MAKEFILE": "ON"
      }
    },
    {
      "name": "macos-m1-ninja-clang-release",
      "inherits": ["default", "macos-m1", "ninja", "clang-darwin-arm64", "release"]
    }
  ],
  "buildPresets": [
    {
      "name": "ubuntu-ninja-gcc-debug",
      "configurePreset": "ubuntu-ninja-gcc-debug"
    },
    {
      "name": "ubuntu-ninja-gcc-release",
      "configurePreset": "ubuntu-ninja-gcc-release"
    },
    {
      "name": "macos-m1-ninja-clang-debug",
      "configurePreset": "macos-m1-ninja-clang-debug"
    },
    {
      "name": "macos-m1-ninja-clang-release",
      "configurePreset": "macos-m1-ninja-clang-release"
    }
  ],
  "packagePresets": [
    {
      "name": "default-deb",
      "inherits": ["deb", "default"],
      "configurePreset": "ubuntu-ninja-gcc-release"
    },
    {
      "name": "default-rpm",
      "inherits": ["rpm", "default"],
      "configurePreset": "ubuntu-ninja-gcc-release"
    },
    {
      "name": "default-bundle",
      "inherits": ["bundle", "default"],
      "configurePreset": "macos-m1-ninja-clang-release"
    }
  ]
}